html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 20%;
}

input, select{
  border: 0;
  border-bottom: 2px solid grey ;
}

label{
  margin: 1rem 0.2rem;
  
}

table{
  border: 1px solid black;
  margin: 0;
}

td{
  border-bottom: 1px solid grey;
}